<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Centar Shipping</title>
  </head>
  <body>
    <h1 style="text-align: center;">Centar Shipping</h1>
    <p></p>
    <p>Something went wrong. Would you like to try again?</p>
    <a href="/order">Ship a Package</a>
    <p></p>
    <a href="/">Home Page</a>
  </body>
</html>